#users-body{
    background-color: $bgColorUsers;
    background-image: url("https://thumbs.dreamstime.com/b/user-profile-icon-abstract-blue-background-illustration-dark-blue-digital-texture-grunge-elegant-paint-modern-design-concept-user-167078251.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
